:root{
    --primary: hsl(285, 28%, 40%);
    --secundary:#31212b;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: var(--secundary);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.header-logo{
    box-shadow: 0 4px 2px -2px rgb(39, 15, 36);
}

h2{
    color: hsl(285, 28%, 40%);
    background-color: var(--secundary);
}

header .Container{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
height: 4rem;
}

header .logo{
    margin-left: 0.5rem;
    color: var(--primary);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.1rem;
    transition: all 0.5s;
    cursor: pointer;
}

header .logo:hover{
    color: #dfa0e2;
}

header nav{
    margin-right: 0.8rem;
}

header nav a{
    color: #AAA;
    margin-right: 0.8rem;
}

header nav a:hover{
    color: #FFF;
}

/*Jogo em destaque*/

.destaque{
    font-size: 1rem;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%);
    background-position:center;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 50%;
}

.destaque .descricao{
    margin-top: 0.8rem;
    margin-bottom: 2.4rem;
}



.destaque .titulo{
    margin-top: 5%;
    font-size: 2.5rem;
}



.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: #FFF;

    padding: 1rem;
    margin-right: 1rem;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all .5s;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 0.6rem;
}

.destaque .Container{
    margin-left: 5rem;
    width: 40%;
  
}

.destaque .Container-2{
    margin-top: 1rem;
    width: 50%;
    
}

.destaque .Container-2 img{
    width: 80%;
    
}

.box-game{
    height: 250px;
    width: 300px;
    display: block;
    padding: 1;
}
.box-game:hover{
   opacity: 0.8;
}

.carrosel-games{
        
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%);
}

.roms{
    display: flex;
    justify-content: center;

    background-color: hsl(285, 28%, 40%);

/*         box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.2); */
    padding: 16px;
}

#paginate {
    width: 100%;

    margin: 32px auto;
}

#paginate .list {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

#paginate .item {
    border-bottom: 1px solid hsl(285, 28%, 40%);
    padding: 16px 32px;
    width: 25rem;
}

#paginate .Capa-item {
    width: 20rem;
}

#paginate .Capa-item:hover {
    width: 23rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#paginate .item:hover {
    background-color: rgba(255, 255, 255, 0.04);
    
}

#paginate .pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 8px;
}

#paginate .pagination div {
    cursor: pointer;

    /* border: 1px solid #eee; */

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14;
}

#paginate .pagination div:not(.numbers),
#paginate .pagination div.numbers div{
    width: 40px;
    height: 40px;
}

#paginate .pagination div.numbers div:hover,
#paginate .pagination div.numbers div.active {
    color: var(--primary);
}

@media screen and (max-width:700px){
    .destaque .Container{
        margin-left: 3rem;
        display: flex;
        flex-direction: column;
    }

   .Container.topo{
        display: flex;
        flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 190px;
        
    }

    .item{
        align-items: center;
        justify-content: center;
        align-content: center;
        width: 70%;
        display: block;
        margin-left: 4.5rem;
        margin-top: 2rem;
       
    }

    #paginate .Capa-item:hover {
        width: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }
}